:where(h1, h2, h3)::before {
  font: var(--fa-font-regular);
  content: "\23";
  font-size: 100%;
  margin-right: 0.2em;
}

body>header {
  display: grid;
  grid-template-columns: 1fr auto;
  border-bottom: 2px solid var(--theme-color-2);
  margin: 2em 30px 0;
  max-width: calc(100vw - 60px);
}

body>div.main {
  margin: 0 30px;
  max-width: calc(100vw - 60px);
}

body>footer {
  background-color: grey;
  display: grid;
  grid-template-columns: auto 1fr;
  margin-top: 0.5em;
  padding: 1em 30px 0.5em;

  & nav {
    margin: auto;
    margin-left: 0;
    font-size: 120%;

    & ul {
      margin-top: 0;
    }
  }

  &>div {
    display: grid;
    text-align: center;
    grid-template-rows: repeat(2, 1fr);
  }

  & a {
    color: #454545;
    border-bottom: none;
    transition: all 0.5s;

    &:hover {
      color: #FFF;
      background-color: inherit;
      transition: all 0.5s;
    }
  }

  & span {
    display: grid;
    place-content: center;
  }

  & address a {
    display: inline-block;
    padding: 0.2em;
    margin: 0.3em;
    margin-bottom: 1.7em;
  }

  @media (max-width: 650px) {
    grid-template-columns: 1fr;

    &>div {
      grid-template-rows: auto 1fr;
    }
  }
}

nav.hamburger-button {
  display: none;

  @media (max-width: 850px) {
    display: grid;
    place-items: center;
  }

  & label {
    cursor: pointer;
    font-size: 24px;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    display: grid;
    place-content: center;
    width: 32px;
    height: 32px;
    box-sizing: border-box;

    & input[type='checkbox'] {
      opacity: 0;
      position: absolute;
    }

    &::after {
      font: var(--fa-font-solid);
      content: "\f0c9";
      font-weight: bold;
    }

    &:has(input[type='checkbox']:checked)::after {
      content: "\f00d";
    }

    &:focus-within {
      border: 2px solid black;
      border-radius: 5px;
    }
  }
}

nav.in-page {
  grid-template-columns: repeat(4, auto);
  column-gap: 3px;
  row-gap: 1px;
  display: grid;

  @media (max-width: 850px) {
    display: none;

    nav.hamburger-button:has(input[type='checkbox']:checked)~& {
      display: grid;
      grid-template-columns: 1fr;
      grid-column: 1/3;
    }
  }

  & a {
    color: black;
    background-color: lightgray;
    border-bottom: none;
    font-size: 110%;
    padding: 0 0.5em;
    border-radius: 5px;
    display: grid;
    place-items: center;
    min-height: 1.75em;

    @media (hover: hover) {
      &:hover {
        color: white;
        background-color: gray;
        border-bottom: none;
      }
    }

    @media (hover: none) {
      &a:active {
        color: white;
        background-color: gray;
        border-bottom: none;
      }
    }
  }
}

:is(body>header h1, .main>section>h2)>a {
  border: none;
  color: lightgray;
  font-size: 75%;
  margin-left: 0.2em;
  padding: 0.1em;

  &[aria-label]::before {
    font-size: 50%;
  }

  &::after {
    font: var(--fa-font-solid);
    content: "\f0c1";
    transition: all 0.5s;
  }

  &:focus-visible,
  &:hover {
    background-color: inherit;

    &::after {
      color: gray;
    }
  }
}

h4 {
  margin: 0;
}

#to-top {
  position: fixed;
  bottom: 40px;
  right: 40px;
  border-radius: 100%;

  & a {
    display: grid;
    place-content: center;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    background-color: gray;
    border: lightgray 1px solid;

    &:hover {
      background-color: lightgray;
    }

    &::after {
      font: var(--fa-font-solid);
      content: "\f106";
      color: #fff;
    }
  }
}
